.App {
  background-color: #002b23;
  background-image: radial-gradient(rgba(30, 82, 57, .2) 3.3px, transparent 1px);
  background-size: 80px 80.5px;
  background-position: 50px;
  min-height: 100vh;
}

.container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.soon {
  font-family: 'Poppins', sans-serif;
}

.brand {
  font-family: 'Darker Grotesque', sans-serif;

}
